.places {
	margin: 92px auto;
	max-width: 984px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 80px;
}

@media screen and (max-width: 1023px) {
	.places {
		margin-top: 88px;
		min-width: 720px;
		row-gap: 73px;
	}
}

@media screen and (max-width: 767px) {
	.places {
		margin-top: 64px;
		width: 100%;
		row-gap: 50px;
	}
}