.place__image {
	margin: 0;
	max-height: 460px;
	max-width: 460px;
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;
	object-fit: cover;
}

@media screen and (width: 1024px) {
	.place__image {
		max-height: 440px;
		max-width: 440px;
	}
}

@media screen and (width: 768px) {
	.place__image {
		max-height: 340px;
		max-width: 340px;
	}
}

@media screen and (max-width: 767px) {
	.place__image {
		margin: 0 auto;
	}
}

@media screen and (width: 320px) {
	.place__image {
		max-height: 320px;
		max-width: 320px;
	}
}