.header {
	margin: 28px auto 0;
	width: calc(100vw - 96px);
	max-width: 1184px;
	min-width: 288px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 1023px) {
	.header {
		width: calc(100vw - 48px);
	}
}

@media screen and (max-width: 767px) {
	.header {
		margin: 16px auto 0;
		width: calc(100vw - 32px);
	}
}