.place__paragraphs {
	/* max-width: 484px; */
	display: flex;
	flex-direction: column;
	row-gap: 26px;
	box-sizing: border-box;
}



@media screen and (max-width: 767px) {
	.place__paragraphs {
		padding: 0 16px;
		row-gap: 25px;
		width: 100vw;
	}
}