.lead__title {
	margin: 0 auto;
	width: 100%;
	max-width: 720px;
	min-width: 288px;
	font-family: 'Inter', Arial, sans-serif;
	font-weight: 900;
	font-size: 96px;
	line-height: 104%;
	color: #ffffff;
	text-align: center;
	box-sizing: border-box;
}

@media screen and (max-width: 767px) {
	.lead__title {
		padding: 0 16px;
		font-size: 40px;
		line-height: 110%;
		text-align: center;
	}
}