.cover {
	margin: 60px auto 0;
	max-width: 1184px;
	height: calc(100vw * 0.6);
	max-height: 740px;
}

@media screen and (width: 1024px) {
	.cover {
		height: 640px;
	}
}

@media screen and (max-width: 1023px) {
	.cover {
		margin-top: 58px;
	}
}


@media screen and (width: 768px) {
	.cover {
		height: 480px;
	}
}

@media screen and (max-width: 767px) {
	.cover {
		margin-top: 34px;
	}
}

@media screen and (width: 320px) {
	.cover {
		height: 200px;
	}
}